@media (min-width: 768px){
    .reg-md{-webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 0%;
        max-width: 0%;
        margin-left: 0%;
    }
}
@media (min-width: 768px){
    .reg-lg{-webkit-box-flex: 0;
        -ms-flex: 0 0 8.333333%;
        flex: 0 0 15%;
        max-width: 15%;
        margin-left: 25%;
    }
}
.b1{
    border-radius: 6%;
}
.b2{
    border-radius: 6%;
}
