.top{
    min-width:1260px;
    background: #848484;
}
.top .all{
    width:1260px;
    height:50px;
    margin: 0 auto;
}
.top .left{
    float:left;
}
.top .left a{
    text-align: center;
}
.top .left a img{
    width:150px;
    height:40px;
    margin-top:5px;
}
.a1{
    position: absolute;
    display: inline-block;
    top:10px;
    left:250px;
}
.top .a1 a,.right a{
    margin-left:15px;
    display: inline-block;
    height:30px;
    line-height: 30px;
}
.a1 a:first-child,.right a{
    background:#005bc6 url(../img/index/QQ.png) no-repeat 10px;
    padding-left:15px; 
    width:100px;
    border-radius:8px; 
}
.top .right{
    float:right;
    margin:10px 0;
}
.right a{
    padding-left:40px; 
    color: #fff;
    background: url(../img/index/home2.png) no-repeat 10px;
    width:100%;
}
.shopImage{
    background:#ece8dd;
}
.shopImage div{
    width: 1260px;
    height:100%;
    margin: 0 auto;
}
.shopImage img{
    width: 100%;
}
.goodsArea{
    width: 1260px;
    margin:0 auto;
    margin-top:20px;
    background: #005bc6;
    zoom: 1;
}
.goodsArea::after{
    content:"";
    display: block;
    clear: both;
}
.goodsArea .goodsArea-left{
    width: 200px;
    height:100%;
    background: #b5feb5;
    float: left;
}
.goodsArea .goodsArea-right{
    width:1040px;
    height:100%;
    background: #b5feb5;
    float: right;
}
.goodsArea-right h3{
    margin: 0;
}
.courseList{
    width: 980px;
    height: 100%;
    margin:0 auto;
    background: #cafeca; 
}
.courseList::before{
    content:"";
    display: table;
}
.list{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.courseList h1{
    margin: 0;
}
.list .list-item{
    width:172px;
    height:167px;
    background: darkmagenta;
}
.list .list-item img{
    width: 100%;
    height:95px;
}
.list-item p{
    margin: 0;
    padding: 5px;;
}
.footer{
    width:100%;
    text-align: center;
    background: rgb(230, 14, 14);
    margin-top:20px;
}
.footer>div{
    width: 1260px;
    margin:0 auto; 
}
.footer div{
    font-size: 10px;
    color:#999;
}
.footer::before{
    content: "";
    display:table;
}
.footer-nav{
    margin-top:35px;  
}
.footer-nav a{
    font-size: 13px;
    padding:05px 15px;
    color:#fff;
    background: #7b7b7b;
    border-radius:8px; 
    margin-right:10px; 
}
.footer-nav::before{
    content: "";
    display:table;
}
.footer-nav a:hover{
    background: rgb(69, 133, 192);
    color:#fff;
}
.footer-cha{
    margin-top: 10px;
}